<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="baiduKey_8" value="FcgLyums8Q2zuXiqRRriXH0jEU8zw3W9" ></add>
		<add key="baiduKey" value="5nOnojp0vYFsYaWeBr4KB3BUmtOGm9Rr" ></add>
		<add key="baiduKey_5" value="GqK7qjkNonCOFyabpOQ2N7F3BEdv4FS6" ></add>
		<add key="baiduKey_3333" value="s0IlmSk4CRPrn6jmi0XuBLCb" ></add>
		<add key="baiduKey_3" value="b2homY0AHVxbr8kXsZoTC9PfXpS2uTRt" ></add>
		<add key="baiduKey_2" value="21BBuXBTDLGjmvePQkl9d11ZAEhaTR6P" ></add>
		<add key="baiduKey_1" value="bk2GxHHoQiqUKgwLj1wW1GQIbCpcnKri" ></add>
		

		<add key="orclCon" value="Provider=OraOLEDB.Oracle.1;Data Source=ORCL;User ID=address;Password=address;Persist Security Info=False;"></add>
		<add key="loadPath" value="../../data/temp.xls" ></add>
		<add key="searchNumber" value="15" ></add>
	</appSettings>
</configuration>